Django>=4.0
llama-cpp-python
django-environ
firebase-admin
sentence-transformers
reportlab
numpy
python-dateutil
# faiss-cpu  # Solo si usas búsqueda vectorial local
# gunicorn   # Solo para despliegue en producción